body {
    background-color: white;
}

.home-page-content {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: minmax(0px, 300px) minmax(581px 720px) minmax(0px, 300px);
}

.feed-compose-wrapper {
    width: 700px;
    grid-column-start: 2;
}
